body {
    background-image: url(bg-pattern.jpg);
}

.navbar {
    background-color: rgba(0, 214, 114, 0.445);
    border-radius: 12px;
    text-transform: capitalize
}

.navbar ul {
    list-style: none;
    overflow: auto;
    padding: 12px 0px;

}

.navbar ul li {
    margin: 0px 15px;
    float: left;
    padding: 10px 4px;
    font-size: 26px;
    border: 1px solid none;
    border-radius: 12px;
    color: aliceblue;
}
.navbar ul li a {
    /* margin: 0px 15px; */
    float: left;
    /* padding: 10px 4px; */
    font-size: 26px;
    border: 1px solid none;
    border-radius: 12px;
    color: rgb(255, 72, 0);
    text-decoration: none;
}

.navbar ul li:hover {
    background-color: beige;
    color: rgb(22, 51, 27);
}

.search_box {
    padding: 10px 100px;
    border-radius: 0px;
    float: right;
}

.search_box input {
    font-size: 22px;
    border-radius: 15px;
    padding: 0px 20px;
}

.search_box:hover {}

.td1 {
    background-color: rgba(166, 170, 174, 0.863);
    border-radius: 10px;
}
.td1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.td1:hover{
    background-color: rgba(0, 0, 0, 0.644);
    color: aliceblue;
}
.td2 {
    background-color: rgba(0, 24, 46, 0.863);
    border-radius: 10px;
    width: 100opx;
}
/* .img{
    width: 35%; */

.img img{
    border-radius: 15px;
    border: 5px solid blue;
    margin: 15px 10px;
    width: 30%;
    height: auto;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: rgb(141, 238, 154);
    color: rgb(219, 50, 50);
    position: relative;
    bottom: 0;
}
.footerr {
    text-align: center;
    padding: 3px;
    background-color: rgb(48, 47, 47);
    color: white;
    position: relative;
  }
 